@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Style+Script&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
/* Nav section styles starts */
header{
    width: 100%;
        background: linear-gradient(
        180deg,
        rgba(34, 34, 34, 0.8),
        rgba(119, 119, 119, 0.28),
        rgba(34, 34, 34, 0.5));
    
}


.menu-icon{
    display: none;
    /* color: #FFFFFF; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
    /* border: 1px solid rgb(48, 43, 43); */
}

.nav-links{
    display: flex;
}

.nav-item{
    list-style: none;
    margin-right: 20px;

}

.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 12px;
}

#home-id{
    padding: 8px 20px;
    border-radius: 46px;
    margin-left: -8px;
    background-color: #E6533C;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.125rem;
    color: #FFFFFF;
}

.nav-title{
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
    color: #E6533C;
}

/* Banner section styles starts */
.banner{
    width: 80%;
    margin: 0 auto;
    /* margin-top: 96px; */
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title{
    color: white;
    /* border: 1px solid aliceblue; */
    width: 50%; 
    font-weight: 900;
    font-size: 4rem;
}
.shape-font{
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: italic;
}

.banner-description{
    color: #FFFFFF;
    opacity: 50%;
    font-weight: 400;
    font-size: 0.90rem;
    margin-top: 28px;
}

.banner-btn-container{
    display: flex;
    gap: 15px;
}

.banner-btn-one{
    padding: 16px 45px;
    border: none;
    border-radius: 42px;
    margin-top: 28px;
    color: #FFFFFF;
    background-color: #E6533C;
    cursor: pointer;
}

.banner-btn-two{
    padding: 16px 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: transparent;
    margin-top: 28px;
    color: #FFFFFF;
    cursor: pointer;
}

.banner-image{
    /* height: 100%; */
    /* width: 50%; */
    /* text-align: center; */
    max-height: 580px;
    /* border: 1px solid wheat; */
}
/* banner section styles ends */

/* change section styles starts */
.change-container{
    width: 80%;
    margin: 0 auto;
}

.change-content{
    text-align: center;
}

.change-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 14px;
}

.change-description{
    font-weight: 400;
    font-size: 0.86rem;
    color: #FFFFFF;
    opacity: 50%;
}

.change-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 58px;
    text-align: center;
    gap: 40px;
}

.change-img img{
    border-radius: 50%;
}

.change-img-title{
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
    margin-top: 20px;
}

.change-img-description{
    font-weight: 400;
    font-size: 0.78rem;
    margin-top: 10px;
    color: #FFFFFF;
    opacity: 50%;
}
/* change section styles ends */


/* run section styles starts */

.run-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    border: none;
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    /* height: 370px; */
    padding: 40px;
    /* height: 500px; */
}

.run-title{
    /* border: 1px solid snow; */
    width: 60%;
    text-align: left;
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
}
.run-content{
    width: 100%;
}

.run-description{
    width: 80%;
    text-align: left;
    font-weight: 400;
    font-size: 0.78rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    opacity: 50%;
    margin-top: 14px;
}
.join-now-btn{
    padding: 16px 70px;
    border: none;
    border-radius: 42px;
    color: #FFFFFF;
    background-color: #E6533C;
    cursor: pointer;
    margin: 30px;

}

.run-img{
    width: 80%;
}
.run-img img{
    width: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 33%;
}
/* run section styles ends */

/* BMI calculator section starts */
.bmi-container{
    /* border: 1px solid seashell; */
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.calculate-bmi{
    width: 50%;
}

.bmi-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    
}

.bmi-description{
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 14px;
    color: #FFFFFF;
    opacity: 50%;
}

.bmi-table-container{
    background-color: rgba(34, 34, 34, 1);
    padding-top: 20px;

}

.bmi-table-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}

.bmi-chart{
    /* border: 1px solid silver; */
    width: 80%;
}

.bmi-chart-title, .calculate-bmi-title, .calculate-bmi-description{
    color: #FFFFFF;
}

.bmi-chart-title, .calculate-bmi-title{
    font-weight: 900;
    font-size: 1.75rem;
}

.calculate-bmi-description{
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}

.bmi-table{
    margin-top: 50px;
    
}

.bmi-chart table, th, td{
    border-collapse: collapse;
    padding: 15px;
    text-align: start;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
}
.bmi-chart td{
    color: rgba(255, 255, 255, 0.5);
}

.bmi-form {
    /* display: flex; */
    /* border: 1px solid rgb(255, 255, 255); */
    margin-top: 34px;
    /* width: 100%; */
    
}
.bmi-form-container{
    /* border: 1px solid wheat; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 10px;
    /* border-radius: 8px; */   
}
.bmi-form-container input{
    width: 280px;
    height: 48px;
    /* margin: 13px 183px 13px 20px; */
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    border: none;
    border-radius: 8px;
}

.bmi-form-container select{
    padding: 13px 183px 13px 20px;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
}
.select-activity{
    width: 114%;
    height: 48px;
    padding-left: 18px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.3);
}

.bmi-form-container option{
    background-color: black;
    color: #FFFFFF;
}
.select-activity option{
    background-color: black;
    color: #FFFFFF;
}

.select-activity{
    /* padding: 13px 183px 13px 20px; */
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
}

.btn-calculate{
    width: 224px;
    height: 54px;
    border: none;
    margin-top: 34px;
    margin-bottom: 40px;
    border-radius: 42px;
    color: #FFFFFF;
    background-color: #E6533C;
    cursor: pointer;
    font-size: 1.125rem;
}
/* BMI calculator section styles ends */

/* Meet section styles starts */
.meet-content{
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.meet-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
}

.meet-description{
    width: 45%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-bottom: 58px;
    color: rgba(255, 255, 255, 0.5);
}
.meet-img-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.trainer-content{
    margin-top: 212px;
    margin-left: 19px;
}

.people-name{
    font-weight: 900;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.people-subtitle{
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

#jerome{
    background-image: url("../images/trainer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    height: 270px;
}
#cameron{
    background-image: url("../images/trainer2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    height: 270px;
}
#darrell{
    background-image: url("../images/trainer3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    height: 270px;
}
#dianne{
    background-image: url("../images/trainer4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    height: 270px;
}
#cody{
    background-image: url("../images/trainer5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    height: 270px;
}
#theresa{
    background-image: url("../images/trainer6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    height: 270px;
}




/* footer section styles starts */
.footer{
    margin-top: 88px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* .footer-column{
    border: 1px solid silver;
} */

.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding-top: 66px;
}
.footer-column-container{
    display: flex;
    width: 100%;
    gap: 150px;
}
.footer-column-container li{
    list-style: none;
    text-decoration: none;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.footer-column-container li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.fitness-title, .fitness-description, .get-started-title{
    color: #FFFFFF;
}
.fitness-title{
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    color: #E6533C;
    margin-bottom: 20px;
}

.fitness-description{
    width: 80%;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.get-started-title{
    margin-bottom: 40px;
}

footer hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    color: #FFFFFF;
    opacity: 10%;
}

.copyright-description{
    text-align: center;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}





/* Media query for small devices */
@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-title{
        width: 70%;
        margin-top: 50px;
        font-weight: 900;
        font-size: 2.2rem;
    }
    .menu-icon{
        display: contents;
        color: #FFFFFF;
    }
/* Change section */
    .change-img-container{
        flex-direction: column;
    }
    /* run section */
    .run-container{
        flex-direction: column;
    }

    .run-title{
        width: 90%;
    }

    .run-description{
        width: 100%;
    }

    .run-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .join-now-btn{
        width: 100%;
        margin-left: 0px;
    }
    /* BMI section */
    .bmi-container{
        width: 90%;
    }
    .bmi-form-container input{
        width: 150px;
    }
    .bmi-form-container select{
        padding: 13px 80px 13px 20px;
    
    }
    .select-activity{
        width: 130%;
    }
    .bmi-chart-title{
        width: 110%;
        font-size: 1rem;
    }
    .calculate-bmi-title{
        width: 110%;
        font-size: 1rem;
        margin-top: 40px;
    }
    .bmi-table-content{
        flex-direction: column;
    }
    .btn-calculate{
        margin-bottom: 20px;
    }
    .calculate-bmi{
        width: 80%;
    }

/* Meet section */
.meet-content{
    width: 100%;
    text-align: center;
    margin-top: 66px;
    line-height: 30px;
}
.meet-description{
    width: 75%;
}
.meet-img-container{
    grid-template-columns: repeat(1, 1fr);
}
#jerome{
    display: none;
}

#dianne{
    display: none;
}


    /* Footer section */
    .footer-content {
        flex-direction: column;
    }
    .footer-column-container{
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }
}